@model WebStore.ViewModels.ProductIndexViewModel
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("ProductManager"))
{

    <p>
        @Html.ActionLink("Create New", "CreateProduct")
    </p>
}
else
{
    <p></p>
}


<table class="table">
    <tr>
        <th></th>
        <th>

            @if (Model.CurrentSort == "NameAsc")
            {
                @Html.ActionLink("Name", "Products", new { sort = "NameDesc" })
            }
            else
            {
                @Html.ActionLink("Name", "Products", new { sort = "NameAsc" })
            }

        </th>
        <th>Description</th>
        <th>
            @if (Model.CurrentSort == "PriceAsc")
            {
                @Html.ActionLink("Price", "Products", new { sort = "PriceDesc" })
            }
            else
            {
                @Html.ActionLink("Price", "Products", new { sort = "PriceAsc" })
            }
        </th>
        <th></th>
    </tr>

    @foreach (var product in Model.Products)
    {
        <tr>
            <td></td>
            <td>
                @Html.ActionLink(
                linkText: product.Name,
                actionName: "View",
                controllerName: "Product",
                routeValues: new { id = product.ProductId },
                htmlAttributes: null)
            </td>
            <td>@product.Description</td>
            <td>@product.Price</td>
            @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("ProductManager"))
            {

                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { Id = product.ProductId }) |
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = product.ProductId }, new { onclick = "return confirm('Are you sure?');" })
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }

</table>